/*
*/

/* #Site Styles
================================================== */

body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #716F6D;
  background: #F9F9F9;
}



p {
	font-family: 'Open Sans', sans-serif;
  font-size: 1em; /* 12px */
  line-height: 1.5em; /* 18px */
  margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5 { font-family: 'Open Sans', sans-serif; font-weight: 400; }

/* 34px - The quick brown fox jumps over the lazy dog */
.class-for-34px {
  font-size: 2.8333em; /* 34px */
  line-height: 1.0588em; /* 36px */
  margin-top: 0.5294em;
  margin-bottom: 0em;
}
/* 26px - The quick brown fox jumps over the lazy dog */
.class-for-26px {
  font-size: 2.1667em; /* 26px */
  line-height: 1.3846em; /* 36px */
  margin-top: 0.6923em;
  margin-bottom: 0em;
}
/* 22px - The quick brown fox jumps over the lazy dog */
.class-for-22px {
  font-size: 1.8333em; /* 22px */
  line-height: 1.6364em; /* 36px */
  margin-top: 0.8182em;
  margin-bottom: 0em;
}
/* 14px - The quick brown fox jumps over the lazy dog */
.class-for-14px {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}
/* 13px - The quick brown fox jumps over the lazy dog */
.class-for-13px {
  font-size: 1.0833em; /* 13px */
  line-height: 1.3846em; /* 18px */
  margin-top: 1.3846em;
  margin-bottom: 0em;
}
/* 12px - The quick brown fox jumps over the lazy dog */
.class-for-12px {
  font-size: 1em; /* 12px */
  line-height: 1.5em; /* 18px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.no-margin { margin: 0 !important; }

div.divider {
	border-top: 1px solid #E5E5E5;
	margin: 2.5em 0;
	height: 0px;
}
div.divider hr {
	display: none;
}

.full_width {
	display: block;
	max-width: 100%;
}


/* bordered */
.bordered_box {
	border: 1px solid #E1E1E1;
	padding: 0.5em;
	box-shadow: 0px 0px 0.4166666667em #DDD;
}
.bordered_box .inner {
	padding: 0.8333333333em;
	background-color: #F3F3F1;
	position: relative;
}
.bordered_box .inner h3 {
	margin: -0.8333333333em -0.8333333333em 0.8333333333em -0.8333333333em;
}




header { 
	background: transparent url('../images/header_bg.jpg') no-repeat top center;
	min-height: 51em; /* 612px; */
}

footer { 
	background: transparent url('../images/footer_bg.jpg') no-repeat top center;
	padding: 3em 0;
	min-height: 40em;
}



/* #Page Styles
================================================== */





.wireframe {
  background-color: lightgray;
}
.wireframe .wireframe {
  background-color: gray;
}
.location {
}
footer.wireframe {
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}




/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);


/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
