/*
*/

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);


/* #Site Styles
================================================== */

body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #716F6D;
  background: #F9F9F9;
}

strong { font-weight: 600; color: inherit; }

p {
	font-family: 'Open Sans', sans-serif;
  font-size: 1em; /* 12px */
  line-height: 1.5em; /* 18px */
  margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; font-weight: 400; }

h2 { 
	color: #6D6F71; 
	font-size: 1.8333em; /* 22px */
  line-height: 1.6364em; /* 36px */
  margin: 0;
  font-weight: 600;
}
h3 {
	color: #37AFE3;
	font-weight: 600;
	font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin: 0;
}
h4 {
	font-size: 1em;
	line-height: 1.5em;
	color: #8D7765;
	font-weight: 400;
  margin: 0;
}

/* 34px - The quick brown fox jumps over the lazy dog */
.class-for-34px {
  font-size: 2.8333em; /* 34px */
  line-height: 1.0588em; /* 36px */
  margin-top: 0.5294em;
  margin-bottom: 0em;
}
/* 26px - The quick brown fox jumps over the lazy dog */
.class-for-26px {
  font-size: 2.1667em; /* 26px */
  line-height: 1.3846em; /* 36px */
  margin-top: 0.6923em;
  margin-bottom: 0em;
}
/* 22px - The quick brown fox jumps over the lazy dog */
.class-for-22px {
  font-size: 1.8333em; /* 22px */
  line-height: 1.6364em; /* 36px */
  margin-top: 0.8182em;
  margin-bottom: 0em;
}
/* 14px - The quick brown fox jumps over the lazy dog */
.class-for-14px {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}
/* 13px - The quick brown fox jumps over the lazy dog */
.class-for-13px {
  font-size: 1.0833em; /* 13px */
  line-height: 1.3846em; /* 18px */
  margin-top: 1.3846em;
  margin-bottom: 0em;
}
/* 12px - The quick brown fox jumps over the lazy dog */
.class-for-12px {
  font-size: 1em; /* 12px */
  line-height: 1.5em; /* 18px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.no-margin { margin: 0 !important; }



div.divider {
	border-top: 1px solid #E5E5E5;
	margin: 4em 0 3em 0;
	height: 0px;
}
div.divider hr {
	display: none;
}

.full_width {
	display: block;
	max-width: 100%;
}


/* bordered */
.bordered_box {
	border: 1px solid #E1E1E1;
	padding: 0.5em;
	box-shadow: 0px 0px 0.4166666667em #DDD;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
.bordered_box .inner {
	padding: 0.8333333333em;
	background-color: #F3F3F1;
	position: relative;
}


/* header & footer */
header { 
	background: transparent url('../images/header_bg.jpg') no-repeat top center;
	padding-top: 4.1666666667em;
	padding-bottom: 2em;
	height: auto;
	color: #FFF;
}
header #branding-contact h1 { visibility: hidden; }
header #branding-contact p.contact-info { text-align: right; margin: 0; font-size: 1.0833em; /* 13px */ line-height: 1.3846em; /* 18px */ }
header #branding-contact p.contact-info a { color: inherit; }
header #branding-contact nav { margin-top: 2em; }
header #branding-contact nav ul { text-align: right; }
header #branding-contact nav ul li { 
	font-size: 1.0833em; /* 13px */ 
	line-height: 1em; /* 18px */ 
	display: inline-block; 
	color: #FFF; 
	padding: 0 1em; 
	border-right: 1px solid #FFF; 
}
header #branding-contact nav ul li:last-child { border-right: none; }
header #branding-contact nav ul li a { color: #FFF; font-weight: 600; }

header #welcome { margin-top: 14em; margin-bottom: 0; }
header #welcome h2 { margin: 0; float: right; font-size: 1.8333em; font-weight: 600; color: #FFF; }
header #welcome h4 { margin: 3em 0 0.5em 0; font-size: 1em; text-transform: uppercase; font-weight: 600; color: #FFF; }
header #welcome * { color: #FFF; }

header #mission-statement { background: transparent url('../images/mission_statement_bg.png') no-repeat top center; padding-top: 2em; margin: 0.25em 0 0 0; }
header #mission-statement div.mission-statement-content { padding: 0 1.6666666667em; }
header #mission-statement h4 { 
	font-size: 2.8333em; /* 34px */
  line-height: 1em; /* 36px */
  font-weight: 200;
  color: #FFF;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
}
header #mission-statement h4 strong { display: block; font-weight: 600; }
header #mission-statement p { font-size: 1.0833em; /* 13px */  line-height: 1.3846em; /* 18px */ margin: 0; }

/* main content */
div#main { margin: 4em 0; }

/* footer styles */
footer { 
	background: transparent url('../images/footer_bg.jpg') no-repeat top center;
	padding: 2em 0 6em 0;
	text-shadow: 0px -1px 0px #222;
}
footer p { color: #999; font-size: 0.9166666667em; }
footer p.contact-info { text-align: right; }
footer a { color: inherit; }



/* #Page Styles
================================================== */

div#call-to-action a { display: block; padding: 4px; background-color: #EBEAE6; }
div#call-to-action a img { max-width: 100%; display: block; }

div#call-to-action-detail { display: none; background-color: #E9E9E9; }
div#call-to-action-detail[data-selected-cta='christmas-at-crosslife'] { background: #E9E9E9 url('../images/cta/xmas_bg.jpg') no-repeat top left; }
div#call-to-action-detail[data-selected-cta='community-node'] { background: #E9E9E9 url('../images/cta/node_bg.jpg') no-repeat top center; }
div#call-to-action-detail h2 { margin-bottom: 0.5em; }
div#call-to-action-detail div.container { position: relative; }
div#call-to-action-detail div.container img.cta_arrow { position: absolute; top: -1.25em; left: 0.8333333333em; }
div#call-to-action-detail div.cta-detail-content { display: none; padding: 1em 0; }


div#christmas-at-crosslife * { color: #FFF; }

div.location h3 {
	margin: 0 0 1em -1.25em;
	display: inline-block;
	width: auto;
	color: #FFF;
	text-transform: uppercase;
	background: transparent url('../images/location_title_bg.png') top right;
	line-height: 1.5714285714em; /* 22px */
	padding: 0 2em 0 1.25em;
}
div.location h4 { font-weight: 600; margin: 1em 0 0.5em 0; }
div.location img { max-width: 100%; display: block; margin: 0 0 1em 0; }

div#our-staff h4 { margin-bottom: 0.5em; }
div#our-staff img { float: left; margin: 0 1em 1em 0; display: block; }

div.map { background-color: #FFF; padding: 2px; }

div#current-sermon-series {}
div#current-sermon-series h3 { margin-bottom: 0.5em; }

.sermon-image, .bordered-image { background-color: #FFF; padding: 2px; display: block; text-decoration: none; }
.sermon-image img, .bordered-image img { max-width: 100%; display: block; }

div#recent-sermons { }
div#recent-sermons p { margin: 0.5em 0 0 0; line-height: 1.25em; }
div#recent-sermons a { display: block; padding: 4px; background-color: #EBEAE6; }
div#recent-sermons a img { max-width: 100%; display: block; }

p.subscribe_link { float: right; background: #FFF; padding: 5px 10px; border: 1px solid #DDD; border-radius: 10px; vertical-align: middle; }
p.subscribe_link img, p.subscribe_link a { display: inline; vertical-align: middle; }
p.subscribe_link a { padding: 0 5px; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		body { font-size: 11px; }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		header { background: transparent url('../images/header_bg_768.jpg') no-repeat top center; }
		header #welcome { margin-top: 8em; margin-bottom: 0; }
		header #mission-statement { background: transparent url('../images/mission_statement_bg_768.png') no-repeat top center; }

		div.staff-member img { float: none !important; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header { background: transparent url('../images/header_bg_420.jpg') no-repeat top center; padding-top: 2em; }
		
		header #branding-contact .columns:first-child { display: none; }

		header #branding-contact p.contact-info { text-align: right; font-size: 0.9em; }
		header #branding-contact nav { display: none; }

		header #welcome { margin: 10em 0 0 0 !important; font-size: 0.9em; }
		header #welcome h2 { margin: 0; }
		header #welcome h4 { margin: 1.2em 0 0 0; }
		header #welcome * { color: #FFF; }

		header #mission-statement { background: none; margin: 0; font-size: 0.9em; padding-top: 1em; border-top: 1px solid #FFF; }
		header #mission-statement div.mission-statement-content { padding: 1em 0 1em 0; border-bottom: 1px solid rgba(255,255,255,0.25); }
		header #mission-statement .column:last-child div.mission-statement-content { border-bottom: none; }
		header #mission-statement h4 strong { display: inline;  }

		div.staff-member { margin-bottom: 1em !important; }
		div.location { margin-bottom: 3em !important; }

/*
		div#recent-sermons {}
		div#recent-sermons div.sermon-thumb { height: auto; overflow: hidden; margin-bottom: 1em; }
		div#recent-sermons div.sermon-thumb .sermon-image { width: 40% !important; float: left; margin-right: 1em; }
*/
		#recent-sermons .four.columns {
			margin-left: 0;
			margin-right: 0;
		}
		
		.bordered-image { margin-bottom: 1em; }

		p.subscribe_link { float: none; }

		footer p.contact-info { text-align: left; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		header { background: transparent url('../images/header_bg_300.jpg') no-repeat top center; padding-top: 2em; }
	}







/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
